// ### Primary
$white: hsl(0, 0%, 100%);
$orange: hsl(12, 88%, 59%);
$orange-hover: hsl(12, 97%, 75%);
$dark-blue: hsl(228, 39%, 23%);
$dark-blue-hover: hsla(228, 39%, 23%, 0.603);

// ### Neutral
$dark-grayish-blue: hsl(227, 12%, 61%);
$grey: hsl(0, 0%, 41%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
